DATABASE_URL="postgresql://USER:PASSWORD@HOST:6543/DATABASE?pgbouncer=true&connection_limit=1"
DIRECT_URL="postgresql://USER:PASSWORD@HOST:5432/DATABASE"

NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="generate-with-openssl-rand-base64-32"

GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

MONO_PUBLIC_KEY=""
MONO_SECRET_KEY=""

PAYSTACK_PUBLIC_KEY=""
PAYSTACK_SECRET_KEY=""

NEXT_PUBLIC_MONO_PUBLIC_KEY=""
NEXT_PUBLIC_APP_URL="http://localhost:3000"
